html {
    scroll-behavior: smooth; /* smooth scrolling */
}

.no-underline-on-hover:hover{
	text-decoration: none;
}

.link-button {
	border-radius: 100%;
	margin: 3px;
	width: 50px;
}
.link-button:hover {
    transition-duration: .5s;
	transform: scale(110%);
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
}

.roundImage {
	border-radius: 100%;
}

/*general use box*/
.box {
	background: rgb(150,150,150);
	border-radius: 30px;
	border: rgb(255,255,255);
	border-width: 20px;
	box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.25);
    width: 70%;
    background: linear-gradient(to top right, rgb(63, 109, 133), rgb(126, 101, 173));
    padding: 50px;
    transition: all .75s;
}

/*box to go on top of above box*/
.box-overlay {
	width: 100%;
    background: rgba(0,0,0,.09);
    box-shadow: none;
    padding: 2px
}
.box-overlay:hover {
    background:rgba(0,0,0,.115);
    transition-duration: .3s;
}

/*box to go on top of above box, 
but looks like it's pressed into main box*/
.box-underlay {
    background:rgba(0,0,0,.09);
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 30px;
}
.box-underlay:hover {
    background:rgba(0,0,0,.115);
    transition-duration: .3s;
}

/*boxes for projects on project page*/
.project-box {
    margin: auto;
    padding: 20px;
	border-radius: 30px;
	border: rgb(255,255,255);
	border-width: 20px;
    width: 90%;
    border: solid 4px rgb(255,255,255);
    margin-bottom: 30px;
}
.project-box:hover {
    transition-duration: .5s;
    background: rgba(255, 255, 255, 0.02);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
}

/*project images modifications*/
.project-image {
    width: 40%;
    float: right;
    margin: 15px;
    border-radius: 14px;
}
.project-image:hover {
    transform: scale(140%);
    transition-duration: 100ms;
}

/*link button formatting*/
.button {
    padding: 4px;
    border-radius: 10px;
    background: rgba(190,190,255,.15);
    color: rgb(202, 202, 255);
}
.button:hover {
    transition-duration: .5s;
    color: rgb(190,190,255);
    background: rgba(160,160,255,.2);
}

/*scroll area + scroll bar formatting*/
.scroll-area {
    scroll-behavior: smooth;
    -webkit-appearance: none;
    overflow: scroll;
    height: 140px;
    overflow-x: hidden;
    border-right: 30px rgba(0, 0, 0, 0) solid;
    border-top: 30px rgba(0, 0, 0, 0) solid;
    border-bottom: 30px rgba(0, 0, 0, 0) solid;
}
.scroll-area::-webkit-scrollbar-track
{
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(130,130,235);
    border-radius: 10px;
  }
.scroll-area::-webkit-scrollbar
{
    padding-left: 20px;
    border-radius: 10px;
    width: 12px;
    background-color: rgb(160,160,255);
}