body {
	font-family: 'Trebuchet MS', sans-serif;
	background-color: rgb(55, 55, 60);
	color: white;
}

h1 {
    padding: 20;
    font-size: 25px
}

div {
    text-align: center;
    margin: 0 auto;
}

p {
	color: rgb(220,220,220);
	font-size: 22;
	line-height: 1.5;
}

a {
	color: rgb(190,190,255);
	text-decoration: none;
}
a:hover {
	color: rgb(160,160,255);
	text-decoration: underline;
}

button {
	color: rgb(190,190,255);
	text-decoration: none;
}
button:hover {
	color: rgb(160,160,255);
	text-decoration: underline;
}

footer {
    text-align: left;
}